.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
}

.Sidebar {
  width: 120px;
  margin: 5px;
  position: sticky; 
  top: 62px;                      /*sets correct vertical position w respect to the header */
  align-self: flex-start;         /*aligns the sidebar with the top of the stack component */
  align-items: start;             /*aligns the children component of the sidebar to the left */
}

.Sidebar .nav-item {
  width: 100;
}

.Sidebar a {
  color:#444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color:#444;
}

.Sidebar .nav-item .active {
  background-color: #def;
}